<%- include('../partials/header.ejs') -%>
    <div class="container text-center">
      <h1 class="m-5">Google OAuth2 and Calendar Events</h1>
      <a href="/login" id="download-button" class="btn btn-lg btn-primary m-2">Click to Login and View Events</a>
      </div>
<%- include('../partials/footer.ejs') -%>
